html {
  /* direction: rtl; */
}
body {
  background-color: #051314;
  color: white;
}
/* *****GOOGLE Fonts -- (Cairo) *****/
@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Cario;
  src: url("../public/Fonts/Cairo-Black.ttf");
  font-weight: 900;
}
.selectA {
  background-color: #fdf5e6 !important;
}
